/* 
   Hotel Natoma style sheet 
   Filename: styles.css

   Author:   Giovanna Gorski
   Date:     03/08/2017    
   HTML5 and CSS3 Illustrated Unit I, Independent Challenge 3
 */

/* reset styles */
html {
   font-size: 20px;
}
a, article, body, div, figcaption, figure, footer, 
header, h1, h2, h3, img, li, nav, p, section, ul {
   border: 0;
   padding: 0;
   margin: 0;
}
img {
   max-width: 100%;
   height: auto;
   width: auto;
}
ul {
   list-style-type: none;
}

/* body and page container */
body {
   font-family: Arial, Helvetica, sans-serif;
}
.container {
   position: relative;
}

/* skip navigation link */
p.skipnavigation a {
   position: absolute;
   left: -10000px;
}
p.skipnavigation a:focus {
   left: auto;
   right: 1em;
   top: 1em;
   background-color: white;
   color: #082008;
   z-index: 2;
}

/* header section */
header {
   padding: 0.5em;
   background-color: #082008;
}
h1 img {
   margin: 0 auto;
   display: block;
}

/* site navigation */
nav.sitenavigation {
   padding: 1em 2%;
   text-align: center;
   background-color: #93ad78;
}
nav.sitenavigation li {
   margin: 0 1em;
   display: inline-block;
}
nav.sitenavigation a:link {
   color: white;
   text-decoration: none;
   font-weight: bold;
}
nav.sitenavigation a:visited {
   color: #dddddd;
}
nav.sitenavigation a:hover, nav.sitenavigation a:focus {
   text-shadow: 0 0 6px #082008;
}

/* main content */

article {
   padding: 0.6em 2%;
   background-color: linen;
   overflow: auto;
}
article h2 {
   margin-bottom: 0.6em;
   font-family: "Krona One", Arial, Helvetica, sans-serif;
   font-size: 1.6em;
   line-height: 2em;
   font-weight: 400;
   text-align: center;
}
article section {
   position: relative;
}
article h3 {
   font-family: "Krona One", Arial, Helvetica, sans-serif;
   font-size: 1em;
}
article figure{
	display:none;
}
article p {
   margin: 0.4em 0 1em;
}

/* footer section */
footer {
   padding: 10px;
   text-align: center;
   color: white;
   background-color: #082008;
}
/* small screen/tablet*/
@media screen and (min-width: 550px), print{
	article figure{
		max-width: 50%;
		margin:0 0 1em 1em;
		float:right;
		display:block;
	}
	article figcaption{
		text-align:center;
		font-weight: bold;
	}
}
/*standard/wide screen styles*/
@media screen and (min-width: 800px), print{
	article{
		padding: 0.6em 0 0;
	}
	article figure{
		display:none;
	}
	article section{
		width: 100%;
		height: 1000px;
		float: none;
		background-size: cover;
		background-position: center;
	}
	.aam{
		background-image: url("images/aam.jpg");
	}
	.cityhall{
		background-image: url("images/cityhall.jpg");
	}
	.ccplaza{
		background-image: url("images/ccplaza.jpg");
	}
	.unplaza{
		background-image: url("images/unplaza.jpg");
	}
	.cablecar{
		background-image: url("images/cablecar.jpg");
	}
	article section div{
		width: 100%;
		position: absolute;
		top:0;
		left: 0;
		z-index: 2;
		background-color:rgba(255,255,255,0.6);
	}
	article  h3, article p{
		margin: 0.6em;
	
	}
}

/* print styles */
@media print {
   article {
      width: 100%;
   }
   article, body, .container, footer {
      border: 0;
      color: rgb(0,0,0);
      background-color: rgb(255,255,255);
   }
   body {
      max-width: 100%;
   }
   nav {
      display: none;
   }
}
@page {
   margin: 0.75in;
}